<section class="px-4 w-full py-2 max-w-full min-h-screen">
  <div id="chat-messages" phx-update="stream" class="h-[80svh] overflow-y-scroll">
    <ChatComponents.chat_container
      :for={{dom_id, message} <- @streams.messages}
      current_user={@current_user}
      id={dom_id}
      job_application={@job_application}
      message={message}
    />
  </div>

  <ChatComponents.chat_form chat_form={@chat_form} class="fixed inset-x-[2%] bottom-[2%]" />
</section>
