<Layouts.app flash={@flash} socket={@socket}>
  <.live_component
    module={FormComponent}
    action={:new}
    company={@company}
    current_user={@current_user}
    id="company-job-form"
    job_posting={@job_posting}
    live_action={:new}
    return_to={~p"/company/jobs"}
    mode={@mode}
  />
</Layouts.app>
